/*************** Twitter.css Changes ***************/
.jumbotron {
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #000 0%, #000 0%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#000), color-stop(0%,#000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #000 0%,#000 0%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #000 0%,#000 0%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #000 0%,#000 0%); /* IE10+ */
  background: linear-gradient(45deg,  #000 0%,#000 0%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.jumbotron:after {
  background: url(../img/bg/blackey.png) repeat center center;
  opacity: 1;
}


/*************** Bootstrap-Responsive Fix ***************/

/* tweak for input full width */
input[class*="span"], select[class*="span"], textarea[class*="span"] {
	width: 100%;
	min-height: 30px;
	box-sizing: border-box;
}

/* Footer - Mobile Fix
-------------------------------------------------- */
/* override body padding on footer on smaller screen sizes */
@media (max-width:767px) {
	body {
		padding: 0;
	}
	.container {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

/* make nav more condensed */
@media (max-width: 979px) {
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
		padding: 0 5px;
	}
}


/*************** Bootstrap Add-ons ***************/
/* class="span" to make input width:100% */
form { margin:0; }
.modal { overflow: visible; }

.pull-center {
	margin:0 auto;
	float:none;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* for multiple tags */
.label {
	margin-right:0.3em;
}




/* Footer - Sticky
make sure the .wrapper>margin and .footer-push>heaight magnitudes match
-------------------------------------------------- */

html, body { height: 100%; }
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -20px;
}

.footer-push {
	height:20px;
}
.footer {
  padding: 10px 0 10px;
  margin: 25px 0 0;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}

.stack-links a {
	padding: 0 10px;
}