<table class="table table-striped table-bordered">
  <!--<thead>
  <tr>
    <th>Project</th>
    <th>Description</th>
    <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
  </tr>
  </thead>-->
  <tbody>
  <tr data-ng-repeat="tender in tenders | filter:search.keyword | orderBy:'close_timestamp'">
    <td>
    	 <img src="img/tender/{{tender.tender_ID}}.png?{{filepicker.timestamp}}" width="50" height="50" align="left" style="margin-right:10px"/>
    	 <p><a href="#/tender/view/{{tender.tender_ID}}">{{tender.title}}</a></p>
    	 <p>{{tender.close_timestamp | duration}}</p>
    </td>
    <!--<td><img src="img/tender/{{tender.tender_ID}}.png?{{filepicker.timestamp}}" width="50" height="50" /></td>
    <td><a href="#/tender/view/{{tender.tender_ID}}">{{tender.title}}</a></td>
    <td>{{tender.close_timestamp | duration}} remaining</td>-->
  </tr>
  <tr data-ng-hide="tenders.length"><td>No Tenders</td></tr>
  </tbody>
</table>